= simple_form_for @monster do |f|
  = render 'layouts/errors', object: @monster

  .field= f.input :custom_name
  .field= f.input :level
  .field= f.input :experience
  .field= f.input :user_id, collection: User.all
  .field= f.input :species_id, collection: Species.all
  .actions= f.submit 'Save'
