%p#notice= notice

%p
  %b ID
  = @monster.id
%p
  %b Custom name:
  = @monster.name
%p
  %b Level:
  = @monster.level
%p
  %b Experience:
  = @monster.experience
%p
  %b User:
  = @monster.user.name
%p
  %b Species:
  = @monster.species.name

= link_to 'Edit', edit_monster_path(@monster)
\|
= link_to 'Back', monsters_path
