= simple_form_for @move do |f|
  = render 'layouts/errors', object: @move

  .field= f.input :name
  .field= f.input :power
  .field= f.input :hit_chance
  .field= f.input :animation
  .actions= f.submit 'Save'
