%p#notice= notice

%p
  %b Name:
  = @move.name
%p
  %b Damage:
  = @move.power
%p
  %b Hit chance:
  = @move.hit_chance
%p
  %b Animation:
  = @move.animation

= link_to 'Edit', edit_move_path(@move)
\|
= link_to 'Back', moves_path
